ul.gallery {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

ul.gallery li {
  width: calc(33.33% - 10px); /* 3 елементи в ряду з відступами */
  margin-bottom: 20px;
}

ul.gallery li img {
  width: 100%;
  height: auto;
}
